.venv/
venv/
ENV/
instance/

__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache/
.coverage
htmlcov/

.env
.flaskenv
*.swp

.git/
.gitignore
.dockerignore
docker-compose*
Dockerfile
.vscode/
.idea/

tests/
